<!--
  ~ Hibernate, Relational Persistence for Idiomatic Java
  ~
  ~ License: GNU Lesser General Public License (LGPL), version 2.1 or later.
  ~ See the lgpl.txt file in the root directory or <http://www.gnu.org/licenses/lgpl-2.1.html>.
  -->
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:postgresql://localhost/roarstead</property> <!-- BD Mane -->
        <property name="connection.driver_class">org.postgresql.Driver</property> <!-- DB Driver -->
        <property name="connection.username">roarstead</property> <!-- DB User -->
        <property name="connection.password">13831383</property> <!-- DB Password -->

        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property> <!-- DB Dialect -->
        <property name="hbm2ddl.auto">update</property> <!-- create / create-drop / update -->

        <property name="show_sql">true</property> <!-- Show SQL in console -->
        <property name="format_sql">true</property> <!-- Show SQL formatted -->

        <mapping class="com.roarstead.Components.Auth.Models.Auth"/>
        <mapping class="com.roarstead.Components.Auth.Models.Role"/>
        <mapping class="com.roarstead.Components.Auth.Models.Permission"/>
        <mapping class="com.roarstead.Components.Resource.Models.FileModel"/>
        <mapping class="com.roarstead.Components.Resource.Models.Image"/>
        <mapping class="com.roarstead.Components.Resource.Models.Media"/>
        <mapping class="com.roarstead.Models.User"/>
        <mapping class="com.roarstead.Models.Roar"/>
        <mapping class="com.roarstead.Models.GRoar"/>
        <mapping class="com.roarstead.Models.Reroar"/>
        <mapping class="com.roarstead.Models.QRoar"/>
        <mapping class="com.roarstead.Models.RoarMedia"/>
<!--        <mapping class="com.roarstead.Models.Roar"/>-->
<!--        <mapping class="com.roarstead.Models.ReRoar"/>-->
    </session-factory>
</hibernate-configuration>